<a href="https://colab.research.google.com/github/Abhishekcq/finance/blob/main/Untitled90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [28]:
df=pd.read_csv('/content/nifty50_mcwb.csv')
df2=pd.read_csv('/content/niftynext50_mcwb.csv')

**nifty stocks data with beta, cap and volatility**

In [29]:
df

,Annexure II- Nifty 50 Index : Feb 2022,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sr. No,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
2,1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,PORT,4083503522,52003.42,0.71,1.47,0.33,2.83,-1.23,0.03
3,2,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,143120.51,1.95,0.68,0.17,1.77,0.71,0.02
4,3,AXISBANK,Axis Bank Ltd.,PRIVATE SECTOR BANK,6135155634,191299.06,2.61,1.13,0.43,2.20,-3.96,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...
64,* Last day of trading was 28-February-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,* Impact Cost for Nifty 50 is for a portfolio ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,* Impact Cost for Nifty 50 is the weightage av...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

****

**nifty next 50 stocks data with beta, cap and volatility**

In [30]:
df2

,Annexure II- Nifty Next 50 Index : Jan 2022,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sr. No,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
2,1,ACC,ACC Ltd.,CEMENT,1877872630,18511.41,1.50,0.85,0.27,2.18,-8.60,0.03
3,2,ADANIENT,Adani Enterprises Ltd.,TRADING - MINERALS/ MINING,1099810083,47409.96,3.83,1.60,0.30,3.13,-4.11,0.03
4,3,ADANIGREEN,Adani Green Energy Ltd.,POWER,15640142800,52527.97,4.25,0.89,0.11,3.11,-1.83,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...
64,* Last day of trading was 28-February-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,* Impact Cost for Nifty Next 50 is for a portf...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,* Impact Cost for Nifty Next 50 is the weighta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN